/* .dvvv
{
    display: flex;
}

.dvvv #count
{
    margin-left: 5px;
} */

/* 
body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

img {
    width: 200px;
    display: block;
}
p {
    font-weight: 600;
    margin-bottom: 5px;
}
button {
    background: white;
    color: black;
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}

#error {
    color: red;
    font-weight: 200;
} */





/* body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0;
    margin: 0;
    text-align: center;
}

span {
    border-bottom: 2px solid black;
    padding: 4px;
}

button {
    margin: 20px 0;
    background: white;
    color: black;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 8px;
} */

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
:root,
body {
  color: #fff;
  height: 100%;
  overflow: hidden;
  background: #333641;
}
div {
  background: 50% 100% / 50% 50% no-repeat
              radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 10vw;
  font-family: "Source Sans Pro", sans-serif;
  animation: reveal 3000ms ease-in-out forwards 200ms,
             glow 2500ms linear infinite 2000ms;

  @keyframes reveal {
    80%{
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
  }
}  
