body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("2.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-weight: bolder;
    font-size: 26px;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}


button {
    color: #016f32;
    width: 250px;
    background-color: goldenrod;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-size: 28px;
    padding: 10px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    /* text color - #016f32
    width      - 150px
    background - goldenrod */
}